.herofinder {
  /* background-color: tomato; */
  background-color: var(--main-black);
  position: fixed;
  top: 0px;
  right: 0px;
  width: 100%;
  max-width: 500px;
  height: 100vh;
  padding: 30px 30px 0 30px;
  overflow-y: auto;
}
.herofinder__overlay {
  backdrop-filter: blur(5px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(39, 59, 95, 0.75);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 2;
}
.herofinder__title {
  border-bottom: 2px solid var(--main-white);
}
.searchbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: black;
  margin: 20px 0;
}
.fa-search {
  font-size: 1.6rem;
  color: var(--main-white);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.fa-search:hover {
  color: var(--main-green);
}
.fa-times {
  font-size: 3rem;
  position: relative;
  left: 90%;
  cursor: pointer;
}
.fa-times:hover {
  color: var(--main-red);
  transition: all 0.3s ease-in-out;
}
.results__info-button {
  color: var(--main-white);
  font-size: 30px;
  justify-self: flex-end;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.searchbar__field {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-white);
  height: 30px;
  width: 80%;
  border-radius: 15px;
}
.searchbar__input {
  background: none;
  outline: none;
  margin-left: 6px;
  border: none;
  border-bottom: 1px solid black;
  width: 80%;
}
.results__item {
  display: grid;
  grid-template-columns: 100px 50px 1fr 3rem;
  align-items: center;
  justify-items: center;
  margin: 30px 0;
}
.results__img {
  height: 100px;
  max-width: 100px;
  overflow: hidden;
  border-radius: 60px;
  background-color: brown;
}
.results__name {
  font-size: 1.5rem;
  text-align: center;
}
.results__plus {
  font-size: 3rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.results__plus:hover {
  color: var(--main-green);
}
.results__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.results__p {
  font-size: 1.5rem;
}
.herofinder__error-msg {
  color: red;
  border-bottom: 2px solid red;
}
.herofinder__button {
  background: none;
  border: none;
}
.result-hero__img {
  width: 100px;
}
.herofinder__informative {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: var(--main-yellow);
  border: 2px solid var(--main-yellow);
  border-radius: 10px;
  padding: 5px;
}
.fa-exclamation-triangle {
  font-size: 2rem;
  margin-right: 10px;
}
.informative-error {
  width: fit-content;
  color: red;
  margin: 20px auto;
  justify-content: center;
  border: 2px solid var(--main-red);
  padding: 10px;
}

.herofinder__added-heroes {
  display: flex;
  justify-content: space-between;
  font-size: 1.3rem;
  margin-top: 20px;
}
