.statsBar {
  height: 20px;
  min-width: 40%;
  background: none;
  border: 1px solid var(--main-white);
}

.statsBar__filler {
  height: 100%;
  transition: width 1s ease-in-out;
  background-color: var(--main-white);
  border-radius: "inherit";
  text-align: "right";
}

.statsBar__label {
  padding: 5px;
  color: white;
  font-weight: "bold";
}
