@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Roboto&display=swap");
/* font-family: 'DM Sans', sans-serif; */
/* font-family: 'Roboto', sans-serif; */
:root {
  --main-black: #130a1d;
  --main-white: #ffffff;
  --main-blue: #2268a9;
  --main-red: #a92232;
  --main-violet: #79317e;
  --main-grey: #bebebe;
  --main-green: #22a927;
  --main-yellow: #ffb715;
  --main-max-width: 992px;
  --main-body-font: "DM Sans", sans-serif;
  /* --main-font: "Roboto", sans-serif; */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--main-black);
  color: white;
  font-family: var(--main-body-font);
  max-width: var(--main-max-width);
  min-height: 90vh;
  margin: 0 auto;
  padding: 30px 30px 0 30px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: var(--main-max-width);
  margin: 5vh auto;
}

.navbar__a {
  color: white;
  text-decoration: none;
}

.anchor {
  color: white;
  text-decoration: none;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.footer__a {
  color: var(--main-grey);
  text-decoration: none;
}

.footer__a:hover {
  color: var(--main-white);
}

.button {
  background-color: var(--main-blue);
  color: var(--main-white);
  width: 200px;
  height: 50px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

.title {
  font-size: 3rem;
}

/* @media (max-width: 768px) {
  body {
    padding: 0 30px;
  }
} */
